<div class="container">
  <div class="row">
    <button class="btn btn-primary col-md-2 col-md-offset-10" (click)="staticModal.show()">Add student</button>

    <div class="modal fade" #staticModal="bs-modal" bsModal  [config]="{backdrop: 'static'}" tabindex="-1">
      <app-popup [staticModal]="staticModal"></app-popup>
    </div>

    <table class="table table-striped col-md-8" *ngIf="students.length">
        <thead>
          <tr>
            <th class="col-md-2">Id</th>
            <th class="col-md-2">Name</th>
            <th class="col-md-2">Faculty</th>
            <th class="col-md-4">Courses</th>
            <th class="col-md-1"></th>
            <th class="col-md-1"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.faculty}}</td>
            <td>{{student.courses}}</td>
            <td>
              <button class="btn btn-primary">Edit</button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="onDeleteStudent(student)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-md-8" *ngIf="!students.length">
        No students
      </div>
  </div>
</div>