<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ student?.name +" "+ student?.surname}}</h4>
      <button type="button" class="close pull-right" (click)="closePopup()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body container">

        <div class="row">
          <div class="form-group col-md-3">
            <label>Student number:</label>
            {{student?.student_number}}
          </div>
          <div class="form-group col-md-3">
            <label>First name:</label>
            {{student?.name}}              
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-3">
            <label>Last name:</label>
            {{student?.surname}}              
          </div>
          <div class="form-group col-md-3">
            <label>Address:</label>
            {{student?.address}}                
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-3">
            <label>Phone number:</label>
            {{student?.phone_number}}              
          </div>
          <div class="form-group col-md-3">
            <label>Faculty:</label>
            {{student?.faculty | facultyname:faculties}}                
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-3">
            <label>Department:</label>
            {{student?.department | departmentName:departments }}              
          </div>
          <div class="form-group col-md-3">
            <label>Courses:</label>
            {{student?.courses | courseNames:courses }}                
          </div>
        </div>
    </div>
  </div>
</div>