
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{ isEditMode ? 'Update student' : 'Add student'}}</h4>
        <button type="button" class="close pull-right" (click)="closePopup()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="container" (ngSubmit)="onSubmit(form)" #form="ngForm">

          <div class="row">
            <!-- student number -->
            <div class="form-group col-md-3" [ngClass]="{'has-error': number.errors && (number.dirty || number.touched)}">
              <label for="studentNumber">Student number</label>
              <input type="text" 
                      class="form-control" 
                      id="studentNumber" 
                      placeholder="Student number"
                      name="student_number"
                      #number="ngModel"
                      ngModel
                      pattern="^[0-9]*$"
                      required>
            </div>
            <!-- firstname -->
            <div class="form-group col-md-3" [ngClass]="{'has-error': fn.errors && (fn.dirty || fn.touched)}">
              <label for="firstName">First name</label>
              <input type="text" 
                      class="form-control" 
                      id="firstName" 
                      placeholder="First name"
                      name="name"
                      #fn="ngModel"
                      ngModel
                      required>
            </div>

            <!-- last name -->
            <div class="form-group col-md-3" [ngClass]="{'has-error': ln.errors && (ln.dirty || ln.touched)}">
              <label for="lastName">Last name</label>
              <input type="text" 
                      class="form-control" 
                      id="lastName" 
                      placeholder="Last name"
                      name="surname"
                      #ln="ngModel"
                      ngModel
                      required>
            </div>
          </div>
          <div class="row">
            <!-- address -->
            <div class="form-group col-md-3" [ngClass]="{'has-error': address.errors && (address.dirty || address.touched)}">
              <label for="address">Address</label>
              <input type="text" 
                      class="form-control" 
                      id="address" 
                      placeholder="Address"
                      name="address"
                      #address="ngModel"
                      ngModel
                      required>
            </div>

            <!-- phone number -->
            <div class="form-group col-md-3" [ngClass]="{'has-error': phone.errors && (phone.dirty || phone.touched)}">
              <label for="phoneNumber">Phone number</label>
              <input type="text" 
                      class="form-control" 
                      id="phoneNumber" 
                      placeholder="Phone number"
                      name="phone_number"
                      #phone="ngModel"
                      ngModel
                      required>
            </div>
          </div>
          <div class="row">
            <!-- Faculty -->
            <div class=" form-group col-md-3" [ngClass]="{'has-error': faculty.errors && (faculty.dirty || faculty.touched)}">
              <label for="faculty">Faculty</label>
              <select name="faculty" id="faculty" class="my-dropdown" #faculty="ngModel" ngModel required (change)="clearDepartment();">
                <option value="">Select faculty</option>
                <option value="{{faculty.id}}" *ngFor="let faculty of faculties">{{faculty.name}}</option>
              </select>
            </div>

            <!-- Department -->
            <div class=" form-group col-md-3" [hidden]="!faculty.value" [ngClass]="{'has-error': dep.errors && (dep.dirty || dep.touched)}">
              <label for="department">Department</label>
              <select name="department" id="department" class="my-dropdown" #dep="ngModel"  ngModel required (change)="changeCourses();">
                <option value="">Select department</option>
                <option value="{{department.id}}" *ngFor="let department of departments | department:form.value.faculty">{{department.name}}</option>
              </select>
            </div>

            <!-- Courses -->
            <div class=" form-group col-md-3" [hidden]="!dep.value">
              <label for="courses">Courses</label> 
              <div style="display: block;">
                <ss-multiselect-dropdown [options]="myOptions" 
                                        [texts]="myTexts" 
                                        [settings]="mySettings"
                                        name="courses"
                                        [(ngModel)]="optionsModel">
                </ss-multiselect-dropdown>
              </div>             
            </div>
          </div>

          <!-- submit -->
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">{{ isEditMode ? 'Update' : 'Add'}}</button>
        </form>
      </div>
    </div>
  </div>